{% extends "index.html" %}

{% block content %}
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-metadata">
      {{ page.date | date(format="%Y-%m-%d") }} | {{ page.reading_time }} mins read |
  </span>
  <span class="post-metadata" style="font-size: smaller;">
    {% if page.taxonomies.series %}Part of
      {% for episode in page.taxonomies.series %}
        <a href="{{ config.base_url }}/series/{{ episode }}">{{ episode }}</a>
      {% endfor %}series
    {% endif %}
  </span>

  <span class="post-metadata" style="font-size: small;">
    {% if page.taxonomies.tags %}#
      {% for tag in page.taxonomies.tags %}
        <a href="{{ config.base_url }}/tags/{{ tag }}">{{ tag }}</a><span style="color:tomato;"> •</span>
      {% endfor %}
    {% endif %}
  </span>
  {{ page.content | safe }}
</div>
{% endblock content %}
